docker/.env
request.py
airflow.db
logs/
*.log
.test.py

.env

__pycache__


./streamlit/gold_dashboard.py

spark/data/sink/
spark/data/checkpoints/
**/_spark_metadata/
**/*.crc
**/_SUCCESS

data/**
!data/sample/*