apache-airflow-providers-fab
apache-airflow-providers-standard
apache-airflow-providers-amazon
apache-airflow-providers-snowflake
snowflake-connector-python
requests
boto3
apache-airflow-providers-apache-spark
shap
lightgbm
kafka-python-ng